html {
	font-family: Arial, sans-serif;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
}

/*-------header-------*/
header {
  background-color: #0046be;
}
header ul {
	list-style: none;
	height: 48px;
	align-items: center;
	padding-left: 0;
	margin: 0;
}
header a {
	color: white;
	text-decoration: none;
}
header > ul {
	display: flex;
	justify-content: flex-end;
}
header > ul li {
	padding-left: 16px;
}
header > div.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header > div.container > ul:first-child,
header > div.container > ul:nth-of-type(2) {
	display: flex;
}
header > div.container > ul:nth-child(2) {
	flex-basis: 240px;
	justify-content: space-between;
}
.dk-blue {
  background-color: #003DA6;
}
.dk-blue ul {
	display: flex;
	line-height: 48px;
}

.dk-blue ul li {
	margin-right: 16px;
}

/*main*/
main>div.container {
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main>div.container>ul>h3 {
	flex-basis: 100%;
	text-align: center;
}
main>div.container>ul:first-child {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
main>div.container>section {
	display: flex;
	flex-direction: column;
}
main>div.container>section>h3 {
	text-align: left;
}
main>div.container>div {
	display: flex;
	flex-wrap: wrap;
}
main>div.container>div>h3 {
	flex-basis: 100%;
	text-align: center;
}
main>div.container>div>ul {
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
main>div.container>div>ul>li {
	flex-basis: calc((100% - 16px * 2) / 3);
}
main>div.container>div>ul>li:nth-of-type(4),
main>div.container>div>ul>li:nth-of-type(5) {
	flex-basis: calc((100% - 16px) / 2);
}
/*@media(min-width: 768px) {
	main>div.container>ul>li {
		flex-basis: calc((100% - 16px * 3) / 4);
	}
	div.container>ul:nth-of-type(2) {
		flex-basis: calc((100% - 16px * 2) /3);
	}
}*/

/*footer*/
footer a {
	text-decoration: none;
}
footer ul {
	margin: 0 auto;
	padding-left: 0;
}
footer h4 {
	margin: 0 0;
}
footer>div.container>div {
	display: flex;
	justify-content: space-between;
}
footer>div.container>div>ul {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 70%;
}
footer>div.container>div>ul>li {
	display: flex;
	flex-basis: 33.3%;
	flex-direction: column;
}
footer>div.container>div>div>ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
footer>div.container>ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
footer>div.container>ul>li:after {
	content: "|";
	color: red;
	padding-left: 6px;
}
footer>div.container>ul>li:last-child:after {
	content: "";
}